



@media screen and (max-width: 376px) {
	/* reset 공통 */
	*,*:before,*:after {
		font-size: 16px;
	}
	.icon_search{
		width: 14px;
		height: 14px;
	}
	.icon_member {
		width: 17px;
		height: 18px;
	}
	.btn_sm{
		height: auto;
    	padding: 0;
		border: #fff;
		font-size: 12px;
	}
	.mo_show{
		display: block;
	}
	.pc_show{
		display: none;
	}
	/* reset 공통 */
	.header_menus nav,.header_menus .utility{
		display: none;
	}
	.header_menus [class*='icon_']{
		width: 20px;
		height: 20px;
	}
	.header_wrap{
		position: relative;
		height: 60px;
	}
	.header_inner{
		max-width: 100%;
		padding: 0 20px;
	}
	.header_top{
		height: 60px;
		gap: 6px;
	}
	header .logo a{
		width: 122px;
		height: 24px;
	}
	.header_menus{
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		height: auto;
		margin: 0;
	}
	
	.progress{
		top: 60px;
	}

	main {
		max-width: 100%;
		margin: 0 auto;
		padding-bottom: 32px;
	}

	
	section,section.story_community{
		width: 100%;
		margin: 0;
		padding-left: 20px ;
	}
	.community_tit{
		display: block;
		padding: 40px 0;
		margin-right: 20px;
		border-bottom: 1px solid #000;
	}
	.community_tit h2{
		font-size: 34px;
		line-height: 1;
	}
	.community_tit h2 strong{
		font-size: 48px;
	}
	.community_tit p {
		margin-top: 8px;
		font-size: 16px;
	}
	.mo_preview{
		display: block;
		width: 100%;
		height: auto;
		background: none;
	}
	.mo_preview .tit{
		font-size: 24px;
		margin-bottom: 11px;
	}
	.mo_preview .swiper{
		width: calc(100% + 20px);
		height: auto;
		top: 0;
		left: -20px;
	}
	.mo_preview .swiper-wrapper{
		left: 9%;
	}
	.mo_preview .swiper-slide{
		flex-direction: column;
		width: 303px !important;
		height: auto;
		margin-right: 16px;
	}
	.mo_preview .art_con{
		display: none;
		margin: 22px 0 16px;
	}
	.mo_preview .swiper-slide-active .art_con{
		display: block;
	}
	.mo_preview .art_tit{
		display: block;
		font-size: 18px;
	}
	.mo_preview .art_days{
		display: block;
		margin-top: 8px;
		font-size: 12px;
	}
	.mo_preview .paging{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 15px;
		height: 20px;
		margin: 0 10% 0 70%;
		background-color: #fff;
		z-index: 4;
	}
	.mo_preview .swiper-pagination-fraction{
		top: auto;
		bottom: 2px;
		left: auto;
		right: 24px;
		width: auto;
	}
	.mo_preview .swiper-pagination-fraction{
		font-size: 12px;
		color: #d9d9d9;
	}
	.mo_preview .swiper-pagination-fraction .swiper-pagination-current{
		font-size: inherit;
		color: #000;
	}
	.mo_preview .swiper-pagination-fraction .swiper-pagination-total{
		font-size: inherit;
		color: #888;
	}
	.mo_preview .swiper-button-next{
		top: auto;
		bottom: 0;
		left: auto;
		right: 0;
		width: 20px;
		height: 20px;
		background:url(../img/icon_swiper_btn.svg)no-repeat center / 7px auto;
		border-radius: 50%;
		border: 1px solid #d9d9d9;
	}
	.mo_preview .swiper-button-next:after{
		display: none;
	}



	.community_preview{
		position: relative;
		width: 100%;
		margin-top: 72px;
		padding-right: 20px;
	}
	.community_preview .list{
		border: 1px solid #d9d9d9;
	}
	.community_preview .list_top{
		height: 60px;
		margin: 0;
		padding: 0 16px;
		border-bottom: 1px solid #d9d9d9;
	}
	.community_preview ul{
		padding: 6px 16px 14px;
	}
	.community_preview .info{
		align-items: center;
		padding: 10px 0;
		border: none;
	}
	.community_preview .list_top .img{
		width: 22px;
		height: 22px;
		margin-right: 7px
	}
	.community_preview .list_top .id{
		font-size: 18px;
	}
	.community_preview .info .img{
		width: 48px;
		height: 48px;
		margin-right: 6px;
	}
	.community_preview .info .tit{
		font-size: 16px;
	}
	.community_preview .info .txt{
		margin-top: 3px;
		font-size: 12px;
	}
	.community_preview li .date{
		top: 50%;
    	transform: translateY(-50%);
		font-size: 12px;
	}


	
	.story_shortzine{
		margin-top: 100px;
		padding-bottom: 84px;
	}
	.story_shortzine .tit h3{
		font-size: 16px;
	}
	.story_shortzine .tit h3 strong{
		display: block;
		margin-top: 2px;
		font-size: 24px;
	}
	.story_shortzine .tit .btn_wrap{
		position: absolute;
		bottom: 0;
		width: calc(100% - 40px);
	}
	.story_shortzine .tit .btn_wrap .btn_sm{
		height: 40px;
		width: 100%;
		border: 1px solid #000;
		font-size: 14px;
		font-weight: 600;
	}
	.story_shortzine ul{
		gap: 0;
		margin: 18px 0 0;
	}
	.story_shortzine .item_box .video{
		width: 315px;
		height: 475px;
	}
	.story_shortzine .video_player .icon_play{
		height: 62px;
    	width: 60px;
	}
	.story_shortzine .item{
		margin-right: 20px;
	}
	.story_shortzine .item .badge{
		top: 16px;
		left: 16px;
		height: 35px;
		padding: 8px 15px;
		border-radius: 50px;
	}
	.story_shortzine .item .badge.hot::before{
		width: 22px;
		height: 22px;
		margin-right: 5px;
	}
	.story_shortzine .item_box .btn_wrap{
		height: 48px;
		opacity: 1;
	}
	.story_shortzine .item_box .btn_wrap [class*='icon_']{
		width: 20px;
		height: 20px;
		padding: 24px 31px;
	}
	.story_shortzine .item_box .btn_wrap [class*='icon_'] + [class*='icon_']::before{
		width: 1px;
		height: 16px;
	}
	.story_shortzine .item_info{
		margin: 16px 0 10px;
	}
	.story_shortzine .item_info .tit{
		margin-bottom: 4px;
		font-size: 20px;
	}
	.story_shortzine .item_info .txt{
		font-size: 14px;
	}
	.story_shortzine .item_bottom .score{
		padding: 0 4px 0 20px;
		font-size: 16px;
	}
	.story_shortzine .item_bottom .score::before{
		width: 16px;
		height: 16px;
	}
	.story_shortzine .item_bottom .product, .story_shortzine .item_bottom .price{
		vertical-align: top;
		font-size: 12px;
	}
	.story_shortzine > .btn_wrap{
		display: none;
	}

	


	.float_wrap{
		width: 90%;
		bottom: 100px;
	}
	.float_btn{
		width: 40px;
		height: 40px;
	}
	

	

	



	.story_trending{
		flex-direction: column;
		gap: 100px;
		margin-top: 100px;
	}
	.story_trending > div{
		width: 100%;
	}
	.story_trending .tit h3{
		display: block;
		font-size: 24px;
		margin-bottom: 4px;
	}
	.story_trending .trending ul{
		gap: 10px 0;
	}
	.story_trending .group{
		width: 100%;
	}
	.story_trending .group a{
		height: 84px;
		padding: 10px 16px;
	}
	.story_trending .group .img{
		width: 64px;
		height: 64px;
		margin-right: 16px;
	}
	.story_trending .group_name {
		font-size: 20px;
	}
	.story_trending .group:nth-child(n+5),.story_trending .item:nth-child(n+5){
		display: none;
	}
	.story_trending .member_num {
		gap: 4px;
		margin-top: 6px;
		font-size: 12px;
	}
	.story_trending .swiper{
		margin-top: 24px;
		padding-bottom: 40px;
	}
	.story_trending .swiper-wrapper {
		height: 366px;
	}
	.story_trending .swiper-slide{
		width: 317px !important;
	}
	.story_trending .swiper-pagination-bullet{
		height: 8px;
		width: 8px;
		margin: 0 6px !important;
	}
	.story_trending .swiper-pagination {
		left: -11px !important;
		margin-top: 30px;
	}
	.story_trending .gallery .swiper-wrapper{
		height: 316px;
	}
	.story_trending .item a{
		width: 148px;
		height: 148px;
	}
	.story_trending .item:nth-child(3n + 1),.story_trending .item:nth-child(3n + 2),.story_trending .item:nth-child(n + 4) {
		margin: 0;
	}
	.story_trending .item:nth-child(2n + 1) {
		margin-right: 16px;
	}
	.story_trending .item:nth-child(n + 3) {
		margin-top: 20px;
	}

	.story_all{
		margin: 100px auto 64px;
	}
	.story_all .tab_top{
		border-bottom: none;
		overflow-x: scroll;
	}
	.story_all .tab_nav{
		width: 700px;
		gap: 24px;
	}
	.story_all .tab_nav a{
		white-space: nowrap;
		font-size: 20px;
	}
	.story_all .tab_nav .active a{
		padding-bottom: 6px;
		border-bottom: 2px solid;
	}
	.story_all .tab_sort{
		display: none;
	}
	.story_all .tab_content {
		margin-top: 24px;
	}
	.story_all .tab_content .con {
		display: none;
	}
	.story_all .tab_content .con.active {
		display: block;
	}
	.story_all .swiper-wrapper {
		gap: 0;
	}
	.story_all .swiper-slide{
		width: 315px !important;
	}
	.story_all .con ul {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}
	.story_all .con li{
		border-top: 1px solid #d9d9d9;
	}
	.story_all .con li .link{
		position: relative;
		padding-top: 60px;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
	}
	.story_all .con li .link > .img {
		width: 315px;
		height: 235px;
	}
	.story_all .con_top {
		padding: 0;
		border-bottom: none;
	}
	.story_all .con_top .tit {
		font-size: 18px;
	}
	.story_all .con_top .user {
		margin-top: 11px;
		font-size: 12px;
	}
	.story_all .cont_bottom{
		gap: 0 10px;
		position: absolute;
		top: 16px;
		margin: 0;
	 }
	.story_all .cont_bottom .img {
		width: 35px;
		height: 35px;
	}
	.story_all .cont_bottom .group_name {
		margin-right: 10px;
		font-size: 16px;
	}
	.story_all .cont_bottom .member_num {
		font-size: 12px;
	}
	.story_all .cont_bottom .icon_member {
		width: 16px;
		height: 14px;
		margin-right: 2px;
		background-size: cover;
	}

	.footer_wrap {
		height: 100%;
	}
	.footer_inner{
		max-width: 100%;
		padding: 24px 20px;
	}
	.footer_top > div {
		display: block;
		margin: 0;
	}
	.footer_top .logo .img_logo {
		width: 120px;
		height: 15px;
	}
	.footer_top ul[class*='corp_'] {
		display: flex;
		align-items: center;
		gap: 0;
		margin-top: 20px;
	}
	.footer_top ul[class*='corp_'] li a {
		font-size: 12px;
	}
	.footer_top ul[class*='corp_'] li + li::before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 1px;
		height: 14px;
		margin: 0 20px;
		background-color: #8a8a8aa8;
	}
	.footer_top ul[class*='corp_'] + ul[class*='corp_'],.footer_util,.footer_bottom .info li::after, .footer_bottom .mark  {
		display: none;
	}
	.footer_bottom {
		margin-top: 20px;
		padding-top: 20px;
	}
	.footer_bottom .info {
		width: 100%;
	}
	.footer_bottom .info li,.footer_bottom .desc {
		display: block;
		font-size: 10px;
		line-height: 1.8;
	}
	.footer_bottom .desc{
		margin-top: 8px;
	}
}
