@import url(./reset.css);

header {
	position: sticky;
	top: 0;
	z-index: 100;
}
.header_wrap {
	height: 180px;
	background-color: #fff;
	border-bottom: 1px solid #d9d9d9;
}
.header_inner {
	max-width: 1440px;
	margin: 0 auto;
	padding: 27px 0 20px;
}
.header_top {
	display: flex;
	align-items: center;
	gap: 7px;
	justify-content: center;
}
header .logo {
	display: block;
	width: 258px;
	height: 60px;
	background: url(../img/img_storyCom.svg) no-repeat center / 100% auto;
}
.header_menus {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	height: 44px;
	margin-top: 27px;
}
.header_menus [class*='icon_'] {
	width: 25px;
	height: 25px;
}
.header_menus nav {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.header_menus nav ul {
	display: flex;
	align-items: center;
	gap: 60px;
}
.header_menus nav li a {
	padding: 10px;
	font-size: 20px;
}
.header_menus nav li a:hover {
	font-weight: 600;
}
.header_menus .utility button {
	margin-left: 14px;
}
main {
	max-width: 1920px;
	margin: 0 auto;
	padding-bottom: 50px;
}
.float_wrap {
	position: sticky;
	bottom: 200px;
	width: 57px;
	margin: 0 122px 0 auto;
	z-index: 100;
}
.float_btn {
	width: 57px;
	height: 57px;
	border-radius: 50%;
	border: 1px solid;
	background: #ffffff75 url(../img/icon_top.svg) no-repeat center / 13px auto;
	opacity: 0;
	transition: all 0.3s;
}
.float_btn.active {
	opacity: 1;
}
section {
	position: relative;
	width: 1440px;
	margin: 0 auto;
}
section.story_community {
	width: calc(1440px + 240px);
	margin: 114px 0 0 auto;
}
.community_tit {
	display: inline-block;
	vertical-align: top;
	width: 32.6%;
}
.community_tit h1 {
	font-size: 69px;
	font-weight: 200;
}
.community_tit h1 strong {
	display: block;
	font-family: 'Abril Fatface', serif;
	font-weight: 400;
	font-size: 90px;
}
.community_tit p {
	margin-top: 14px;
	font-size: 24px;
}
.community_tit p .num {
	margin-right: 6px;
	font-size: inherit;
	color: #da2128;
}
.community_preview {
	position: absolute;
	top: 42%;
	width: 25%;
	/* width: 250%; */
}
.community_preview .list_top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 26px;
}
.community_preview .list_top .img {
	display: inline-block;
	vertical-align: middle;
	width: 26px;
	height: 26px;
	margin-right: 3px;
	background: url(../img/img_basic.svg) no-repeat center / 100% auto; /*프로필 등록 안할 시 노출되는 기본 이미지*/
	overflow: hidden;
}
.community_preview .list_top .id {
	vertical-align: middle;
	font-size: 26px;
	font-weight: 600;
}
.community_preview .info {
	display: flex;
}
.community_preview .info .img {
	flex-shrink: 0;
	width: 48px;
	height: 48px;
	margin-right: 14px;
	border-radius: 50%;
	background: url(../img/img_basic.svg) no-repeat center/48px auto; /*프로필 등록 안할 시 노출되는 기본 이미지*/
	overflow: hidden;
}
.community_preview .info .tit {
	display: block;
	font-size: 18px;
}
.community_preview .info .txt {
	display: block;
	margin-top: 8px;
	font-size: 14px;
}
.community_preview .info .txt em {
	margin-left: 2px;
	font-size: inherit;
	font-weight: 600;
}
.community_preview li {
	position: relative;
	padding: 16px 0;
	border-bottom: 1px solid #d9d9d9;
}
.community_preview li .date {
	position: absolute;
	right: 0;
	top: 16px;
}
.mo_preview {
	display: inline-block;
	vertical-align: top;
	position: relative;
	height: 720px;
	width: 67%;
	margin-top: 32px;
	background: url(../img/img_mo.svg) no-repeat center left 50%/368px auto;
}
.mo_preview .swiper {
	width: 128%;
	height: 306px;
	top: 39%;
	left: -6%;
}
.mo_preview .swiper-slide {
	display: flex;
	width: 464px !important;
	height: 306px;
	margin-right: 24px;
	font-size: 18px;
	overflow: hidden;
}
.story_shortzine {
	margin-top: 120px;
}
.story_shortzine .tit {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.story_shortzine .tit h2 {
	font-size: 40px;
	font-weight: 600;
}
.story_shortzine .tit h2 strong {
	font-size: inherit;
}
.story_shortzine ul {
	display: flex;
	gap: 24px;
	margin: 40px 0 85px;
}
.story_shortzine .item {
	flex: 1;
	overflow: hidden;
}
.story_shortzine .item_box {
	position: relative;
}
.story_shortzine .video_player .icon_play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 62px;
	width: 60px;
	background: url(../img/icon_play.svg) no-repeat center / 100% auto;
}
.story_shortzine .item_box .video {
	width: 100%;
	/* width: 464px; */
	height: 700px;
	overflow: hidden;
}
.story_shortzine .item .badge {
	position: absolute;
	top: 21px;
	left: 19px;
	height: 35px;
	padding: 8px 15px;
	border-radius: 50px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
}
.story_shortzine .item .badge.hot {
	background-color: #da2128;
}
.story_shortzine .item .badge.hot::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 22px;
	height: 22px;
	margin-right: 5px;
	background: url(../img/icon_show.svg) no-repeat center / 100% auto;
}
.story_shortzine .item_box .btn_wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	height: 60px;
	transition: all 0.5s;
	background-color: #00000040;
	opacity: 0;
}
.story_shortzine .item_box:hover .btn_wrap {
	opacity: 1;
}
.story_shortzine .item_box .btn_wrap .link {
	position: relative;
	padding: 20px;
	transition: all 0.3s;
}
.story_shortzine .item_box .btn_wrap [class*='icon_'] {
	width: 20px;
	height: 20px;
}
.story_shortzine .item_box .btn_wrap .link + .link::before {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 1px;
	height: 16px;
	background-color: #d9d9d9;
}
.story_shortzine .item_info {
	margin: 25px 0 34px;
}
.story_shortzine .item_info .tit {
	display: block;
	width: 100%;
	margin-bottom: 6px;
	font-size: 20px;
}
.story_shortzine .item_info .txt {
	line-height: 1.4;
	word-break: keep-all;
}
.story_shortzine .item_bottom .score {
	position: relative;
	padding: 0 8px 0 24px;
	font-size: 20px;
	font-weight: 500;
}
.story_shortzine .item_bottom .score::before {
	content: '';
	position: absolute;
	left: 0;
	top: 3px;
	width: 17px;
	height: 18px;
	background: url(../img/icon_hart.svg) no-repeat center / 100% auto;
}
.story_shortzine .item_bottom .product,
.story_shortzine .item_bottom .price {
	font-weight: 200;
}
.story_trending {
	display: flex;
	gap: 24px;
	margin-top: 167px;
}
.story_trending > div {
	width: 49.2%;
}
.story_trending .tit h2 {
	display: inline-block;
	margin-right: 10px;
	font-size: 40px;
	font-weight: 600;
}
.story_trending .trending ul {
	display: flex;
	flex-wrap: wrap;
	gap: 26px 24px;
}
.story_trending .group {
	width: 48.2%;
}
.story_trending .group a {
	display: flex;
	align-items: center;
	padding: 8px 20px 9px;
	border: 1px solid #d9d9d9;
}
.story_trending .group a:hover {
	border: 1px solid #64c078;
}
.story_trending .group .img {
	width: 78px;
	height: 78px;
	margin-right: 20px;
	border-radius: 50%;
	background: url(../img/img_basic.svg) no-repeat center/78px auto; /*프로필 등록 안할 시 노출되는 기본 이미지*/
	overflow: hidden;
}
.story_trending .group_name {
	font-size: 24px;
}
.story_trending .member_num {
	display: flex;
	align-items: center;
	gap: 6px;
	margin-top: 9px;
	font-size: 18px;
}
.story_trending .swiper {
	width: 100%;
	margin-top: 30px;
	padding-bottom: 50px;
}
.story_trending .swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
}
.story_trending .swiper-pagination-bullet-active {
	background-color: #000 !important;
}
.story_trending .swiper-pagination-bullets {
	bottom: 0 !important;
	top: auto !important;
}
.story_trending .swiper-pagination-bullet {
	height: 8px;
	width: 8px;
	margin: 0 6px !important;
}
.story_trending .gallery ul {
	display: flex;
	flex-wrap: wrap;
	gap: 25px 24px;
}
.story_trending .item .img {
	display: block;
	height: 220px;
	width: 220px;
	overflow: hidden;
}
.story_all {
	margin: 204px auto 144px;
}
.story_all .tab_top {
	display: flex;
	justify-content: space-between;
	padding-bottom: 37px;
	border-bottom: 1px solid;
}
.story_all .tab_nav {
	display: flex;
	gap: 20px;
}
.story_all .tab_nav a {
	font-size: 26px;
	font-weight: 200;
}
.story_all .tab_nav .active a {
	font-weight: 600;
}
.story_all .tab_sort .btn_sort {
	font-size: 18px;
}
.story_all .tab_sort .btn_sort::after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 9px;
	margin-left: 15px;
	background: url(../img/icon_sort.svg) no-repeat center / 100% auto;
}
.story_all .tab_content {
	margin-top: 40px;
}
.story_all .tab_content .con {
	display: none;
}
.story_all .tab_content .con.active {
	display: block;
}
.story_all .swiper-wrapper {
	gap: 3%;
}
.story_all .swiper-slide {
	width: 48.5%;
}
.story_all .con ul {
	display: flex;
	flex-direction: column;
	gap: 50px;
}
.story_all .con li .link {
	display: flex;
	align-items: center;
	gap: 34px;
}
.story_all .con li .link > .img {
	width: 200px;
	height: 151px;
	overflow: hidden;
}
.story_all .con_area {
	flex: 1;
}
.story_all .con_top {
	padding: 0 0 23px;
	border-bottom: 1px solid #d9d9d9;
}
.story_all .con_top .tit {
	font-size: 19px;
	font-weight: 600;
}
.story_all .con_top .user {
	display: block;
	margin-top: 10px;
	font-size: 13px;
	font-weight: 200;
}
.story_all .cont_bottom {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 13px;
}
.story_all .cont_bottom .img {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	overflow: hidden;
}
.story_all .cont_bottom .img img {
	transform: scale(1) !important;
}
.story_all .cont_bottom .group_name {
	margin-right: 14px;
	font-size: 15px;
}
.story_all .cont_bottom .member_num {
	font-size: 11px;
}
.story_all .cont_bottom .icon_member {
	width: 16px;
	height: 14px;
	margin-right: 2px;
	background-size: 100% auto;
}
.footer_wrap {
	background-color: #232323;
}
.footer_inner {
	max-width: 1440px;
	margin: 0 auto;
	padding: 50px 0 56px;
}
.footer_top > div {
	display: inline-block;
	vertical-align: top;
	margin-right: 67px;
}
.footer_top .logo .img_logo {
	display: block;
	width: 162px;
	height: 20px;
	background: url(../img/img_logo.svg) no-repeat center / 100% auto;
}
.footer_top ul[class*='corp_'] {
	display: flex;
	align-items: center;
	gap: 25px;
}
.footer_top ul[class*='corp_'] li a {
	font-size: 14px;
	font-weight: 100;
	color: #949494;
}
.footer_top ul[class*='corp_'] li a em {
	font-size: inherit;
	font-weight: 400;
	color: #f22c2d;
}
.footer_top ul[class*='corp_'] + ul[class*='corp_'] {
	margin-top: 10px;
}
.footer_util {
	display: flex;
	justify-content: flex-end;
	gap: 57px;
	margin-top: 18px;
}
.footer_util .option {
	width: 124px;
	padding: 8px 10px 8px 0;
	border-bottom: 1px solid #828282;
	cursor: pointer;
}
.footer_util .option span {
	display: block;
	position: relative;
	font-size: 12px;
	font-weight: 200;
	color: #949494;
}
.footer_util .option span::after {
	content: '';
	position: absolute;
	top: 5px;
	right: -10px;
	width: 8px;
	height: 4px;
	background: url(../img/icon_select_arrow.svg) no-repeat center / 100% auto;
}
.footer_util .sns [class*='icon_'] {
	width: 16px;
	height: 16px;
}
.footer_util .sns .sns_link + .sns_link {
	margin-left: 19px;
}
.footer_bottom {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	padding-top: 20px;
	border-top: 1px solid #333;
}
.footer_bottom .info {
	width: 552px;
}
.footer_bottom .info li,
.footer_bottom .desc {
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	color: #8a8a8aa8;
}
.footer_bottom .info li::after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 1px;
	height: 10px;
	margin: 0 6px 0 10px;
	background-color: #8a8a8aa8;
}
.footer_bottom .info li:nth-child(3n)::after {
	display: none;
}
.footer_bottom .mark a {
	display: block;
	width: 53px;
	height: 34px;
	background: url(../img/img_wa.svg) no-repeat center / 100% auto;
}

@media screen and (max-width: 1920px) {
	/* reset 공통 */
	*,*:before,*:after {
		font-size: 0.8333vw;
	}
	.icon_search {
		width: 1.9271vw;
		height: 1.9271vw;
	}
	.icon_member {
		width: 1.3542vw;
		height: 1.3542vw;
	}
	.btn_sm {
		height: 1.9792vw;
		padding: 0 1.4583vw;
		font-size: 0.9375vw;
	}
	.btn_md {
		height: 3.125vw;
		min-width: 24.1667vw;
		padding: 0 1.4583vw;
		font-size: 1.0417vw;
	}
	.progress {
		height: 0.0521vw;
		top: 9.3229vw;
	}
	/* //reset 공통 */
	.header_wrap {
		height: 9.375vw;
	}
	.header_inner {
		max-width: 75vw;
		padding: 1.4063vw 0 1.0417vw;
	}
	.header_top {
		gap: 0.3646vw;
	}
	header .logo {
		width: 13.4375vw;
		height: 3.125vw;
	}
	.header_menus {
		height: 2.2917vw;
		margin-top: 1.4063vw;
	}
	.header_menus [class*='icon_'] {
		width: 1.3021vw;
		height: 1.3021vw;
	}
	.header_menus nav ul {
		gap: 3.125vw;
	}
	.header_menus nav li a {
		padding: 0.5208vw;
		font-size: 1.0417vw;
	}
	.header_menus .utility button {
		margin-left: 0.7292vw;
	}
	main {
		max-width: 100vw;
		padding-bottom: 2.6042vw;
	}
	.float_wrap {
		bottom: 10.4167vw;
		width: 2.9688vw;
		margin: 0 6.3542vw 0 auto;
	}
	.float_btn {
		width: 2.9688vw;
		height: 2.9688vw;
		background-size: 0.6771vw auto;
	}
	section {
		width: 75vw;
	}
	section.story_community {
		width: calc(75vw + 12.5vw);
		margin: 5.9375vw 0 0 auto;
	}
	.community_tit h1 {
		font-size: 3.5938vw;
	}
	.community_tit h1 strong {
		font-size: 4.6875vw;
	}
	.community_tit p {
		margin-top: 0.7292vw;
		font-size: 1.25vw;
	}
	.community_tit p span {
		margin-right: 0.3125vw;
	}
	/* .community_preview {
		width: 21.8750vw;
	} */
	.community_preview .list_top {
		margin-bottom: 1.3542vw;
	}
	.community_preview .list_top .img {
		width: 1.3542vw;
		height: 1.3542vw;
		margin-right: 0.1563vw;
	}
	.community_preview .list_top .id {
		font-size: 1.3542vw;
	}
	.community_preview li {
		padding: 0.8333vw 0;
	}
	.community_preview .info .img {
		width: 2.5vw;
		height: 2.5vw;
		margin-right: 0.7292vw;
		background-size: 2.5vw auto;
	}
	.community_preview .info .tit {
		font-size: 0.9375vw;
	}
	.community_preview .info .txt {
		margin-top: 0.4167vw;
		font-size: 0.7292vw;
	}
	.community_preview .info .txt em {
		margin-left: 0.1042vw;
	}
	.community_preview li .date {
		top: 0.8333vw;
	}
	.mo_preview {
		height: 37.5vw;
		margin-top: 1.6667vw;
		background-size: 19.1667vw auto;
	}
	.mo_preview .swiper {
		height: 15.9375vw;
	}
	.mo_preview .swiper-slide {
		width: 24.1667vw !important;
		height: 15.9375vw;
		margin-right: 1.25vw;
		font-size: 0.9375vw;
	}
	.story_shortzine {
		margin-top: 6.25vw;
	}
	.story_shortzine .tit h2 {
		font-size: 2.0833vw;
	}
	.story_shortzine ul {
		gap: 1.25vw;
		margin: 2.0833vw 0 4.4271vw;
	}
	.story_shortzine .video_player .icon_play {
		height: 3.2292vw;
		width: 3.125vw;
	}
	.story_shortzine .item_box .video {
		/* width: 24.1667vw; */
		height: 36.4583vw;
	}
	.story_shortzine .item .badge {
		top: 1.0938vw;
		left: 0.9896vw;
		height: 1.8229vw;
		padding: 0.4167vw 0.7813vw;
		border-radius: 2.6042vw;
	}
	.story_shortzine .item .badge.hot::before {
		width: 1.1458vw;
		height: 1.1458vw;
		margin-right: 0.2604vw;
	}
	.story_shortzine .item_box .btn_wrap {
		height: 3.125vw;
	}
	.story_shortzine .item_box .btn_wrap .link {
		padding: 1.0417vw;
	}
	.story_shortzine .item_box .btn_wrap [class*='icon_'] {
		width: 1.0417vw;
		height: 1.0417vw;
	}
	.story_shortzine .item_box .btn_wrap .link + .link::before {
		width: 0.0521vw;
		height: 0.8333vw;
	}
	.story_shortzine .item_info {
		margin: 1.3021vw 0 1.7708vw;
	}
	.story_shortzine .item_info .tit {
		margin-bottom: 0.3125vw;
		font-size: 1.0417vw;
	}
	.story_shortzine .item_bottom .score {
		padding: 0 0.4167vw 0 1.25vw;
		font-size: 1.0417vw;
	}
	.story_shortzine .item_bottom .score::before {
		top: 0.1563vw;
		width: 0.8854vw;
		height: 0.9375vw;
	}
	.story_trending {
		gap: 1.25vw;
		margin-top: 8.6979vw;
	}
	.story_trending .tit h2 {
		margin-right: 0.5208vw;
		font-size: 2.0833vw;
	}
	.story_trending .trending ul {
		gap: 1.3542vw 1.25vw;
	}
	.story_trending .group a {
		padding: 0.4167vw 1.0417vw 0.4688vw;
	}
	.story_trending .group .img {
		width: 4.0625vw;
		height: 4.0625vw;
		margin-right: 1.0417vw;
		background-size: 4.0625vw auto;
	}
	.story_trending .group_name {
		font-size: 1.25vw;
	}
	.story_trending .member_num {
		gap: 0.3125vw;
		margin-top: 0.4688vw;
		font-size: 0.9375vw;
	}
	.story_trending .swiper {
		margin-top: 1.5625vw;
		padding-bottom: 2.6042vw;
	}
	.story_trending .swiper-pagination-bullet {
		height: 0.4167vw;
		width: 0.4167vw;
		margin: 0 0.3125vw !important;
	}
	.story_trending .gallery ul {
		gap: 1.3021vw 1.25vw;
	}
	.story_trending .item .img {
		height: 11.4583vw;
		width: 11.4583vw;
	}
	.story_all {
		margin: 10.625vw auto 7.5vw;
	}
	.story_all .tab_top {
		padding-bottom: 1.9271vw;
	}
	.story_all .tab_nav {
		gap: 1.0417vw;
	}
	.story_all .tab_nav a {
		font-size: 1.3542vw;
	}
	.story_all .tab_sort .btn_sort {
		font-size: 0.9375vw;
	}
	.story_all .tab_sort .btn_sort::after {
		width: 0.6771vw;
		height: 0.4688vw;
		margin-left: 0.7813vw;
	}
	.story_all .tab_content {
		margin-top: 2.0833vw;
	}
	.story_all .con ul {
		gap: 2.6042vw;
	}
	.story_all .con li .link {
		gap: 1.7708vw;
	}
	.story_all .con li .link > .img {
		width: 10.4167vw;
		height: 7.8646vw;
	}
	.story_all .con_top {
		padding: 0 0 1.1979vw;
	}
	.story_all .con_top .tit {
		font-size: 0.9896vw;
	}
	.story_all .con_top .user {
		margin-top: 0.5208vw;
		font-size: 0.6771vw;
	}
	.story_all .cont_bottom {
		gap: 0.5208vw;
		margin-top: 0.6771vw;
	}
	.story_all .cont_bottom .img {
		width: 1.8229vw;
		height: 1.8229vw;
	}
	.story_all .cont_bottom .group_name {
		margin-right: 0.7292vw;
		font-size: 0.7813vw;
	}
	.story_all .cont_bottom .member_num {
		font-size: 0.5729vw;
	}
	.story_all .cont_bottom .icon_member {
		width: 0.8333vw;
		height: 0.7292vw;
		margin-right: 0.1042vw;
	}
	.footer_inner {
		max-width: 75vw;
		padding: 2.6042vw 0 2.9167vw;
	}
	.footer_top > div {
		margin-right: 3.4896vw;
	}
	.footer_top .logo .img_logo {
		width: 8.4375vw;
		height: 1.0417vw;
	}
	.footer_top ul[class*='corp_'] {
		gap: 1.3021vw;
	}
	.footer_top ul[class*='corp_'] li a {
		font-size: 0.7292vw;
	}
	.footer_top ul[class*='corp_'] + ul[class*='corp_'] {
		margin-top: 0.5208vw;
	}
	.footer_util {
		gap: 2.9688vw;
		margin-top: 0.9375vw;
	}
	.footer_util .option {
		width: 6.4583vw;
		padding: 0.4167vw 0.5208vw 0.4167vw 0;
	}
	.footer_util .option span {
		font-size: 0.625vw;
	}
	.footer_util .option span::after {
		top: 0.2604vw;
		right: -0.5208vw;
		width: 0.4167vw;
		height: 0.2083vw;
	}
	.footer_util .sns [class*='icon_'] {
		width: 0.8333vw;
		height: 0.8333vw;
	}
	.footer_util .sns .sns_link + .sns_link {
		margin-left: 0.9896vw;
	}
	.footer_bottom {
		margin-top: 1.5625vw;
		padding-top: 1.0417vw;
	}
	.footer_bottom .info {
		width: 28.75vw;
	}
	.footer_bottom .info li,
	.footer_bottom .desc {
		font-size: 0.625vw;
	}
	.footer_bottom .info li::after {
		width: 0.0521vw;
		height: 0.5208vw;
		margin: 0 0.3125vw 0 0.5208vw;
	}
	.footer_bottom .mark a {
		width: 2.7604vw;
		height: 1.7708vw;
	}
}

@media screen and (max-width: 1440px) {
	/* reset 공통 */
	*,*:before,*:after {
		font-size: 1.1111vw;
	}
	.icon_search {
		width: 2.5694vw;
		height: 2.5694vw;
	}
	.icon_member {
		width: 1.8056vw;
		height: 1.8056vw;
	}
	.btn_sm {
		height: 2.6389vw;
		padding: 0 1.9444vw;
		font-size: 1.25vw;
	}
	.btn_md {
		height: 4.1667vw;
		min-width: 32.2222vw;
		padding: 0 1.9444vw;
		font-size: 1.3889vw;
	}
	.progress {
		height: 0.0694vw;
		top: 12.4306vw;
	}
	/* //reset 공통 */
	.header_wrap {
		height: 12.5vw;
	}
	.header_inner {
		max-width: 100vw;
		padding: 1.875vw 1.3889vw 1.3889vw;
	}
	header .logo {
		width: 17.9167vw;
		height: 4.1667vw;
	}
	.header_menus {
		height: 3.0556vw;
		margin-top: 1.875vw;
	}
	.header_menus [class*='icon_'] {
		width: 1.7361vw;
		height: 1.7361vw;
	}
	.header_menus nav ul {
		gap: 4.1667vw;
	}
	.header_menus nav li a {
		padding: 0.6944vw;
		font-size: 1.3889vw;
	}
	.header_menus .utility button {
		margin-left: 0.9722vw;
	}
	.float_wrap {
		width: 3.9583vw;
		margin: 0 2vw 0 auto;
	}
	.float_btn {
		width: 3.9583vw;
		height: 3.9583vw;
		background-size: 0.9028vw auto;
	}
	section {
		width: 100vw;
		padding: 0 1.3889vw;
	}
	section.story_community {
		width: calc(100vw + 16.6667vw);
	}
	.community_tit h1 {
		font-size: 4.7917vw;
	}
	.community_tit h1 strong {
		font-size: 6.25vw;
	}
	.community_tit p {
		font-size: 1.6667vw;
	}
	.community_tit p span {
		margin-right: 0.4167vw;
	}
	.community_preview .list_top .img {
		width: 1.8056vw;
		height: 1.8056vw;
		margin-right: 0.2083vw;
	}
	.community_preview .list_top .id {
		font-size: 1.8056vw;
	}
	.community_preview li {
		padding: 1.1111vw 0;
	}
	.community_preview .info .img {
		width: 3.3333vw;
		height: 3.3333vw;
		margin-right: 0.9722vw;
		background-size: 3.3333vw auto;
	}
	.community_preview .info .tit {
		font-size: 1.25vw;
	}
	.community_preview .info .txt {
		margin-top: 0.5556vw;
		font-size: 0.9722vw;
	}
	.community_preview .info .txt em {
		margin-left: 0.1389vw;
	}
	.community_preview li .date {
		top: 1.1111vw;
	}
	.mo_preview {
		height: 50vw;
		background-size: 25.5556vw auto;
	}
	.mo_preview .swiper {
		height: 21.25vw;
	}
	.mo_preview .swiper-slide {
		width: 32.2222vw !important;
		height: 21.25vw;
		margin-right: 1.6667vw;
		font-size: 1.25vw;
	}
	.story_shortzine {
		margin-top: 8.3333vw;
	}
	.story_shortzine .tit h2 {
		font-size: 2.7778vw;
	}
	.story_shortzine ul {
		gap: 1.6667vw;
	}
	.story_shortzine .video_player .icon_play {
		height: 4.3056vw;
		width: 4.1667vw;
	}
	.story_shortzine .item_box .video {
		height: 48.6111vw;
	}
	.story_shortzine .item .badge {
		height: 2.4306vw;
		padding: 0.5556vw 1.0417vw;
	}
	.story_shortzine .item .badge.hot::before {
		width: 1.5278vw;
	}
	.story_shortzine .item_box .btn_wrap {
		height: 4.1667vw;
	}
	.story_shortzine .item_box .btn_wrap .link {
		padding: 1.3889vw;
	}
	.story_shortzine .item_box .btn_wrap [class*='icon_'] {
		width: 1.3889vw;
		height: 1.3889vw;
	}
	.story_shortzine .item_box .btn_wrap .link + .link::before {
		width: 0.0694vw;
		height: 1.1111vw;
	}
	.story_shortzine .item_info .tit {
		font-size: 1.3889vw;
	}
	.story_shortzine .item_bottom .score {
		padding: 0 0.5556vw 0 1.6667vw;
		font-size: 1.3889vw;
	}
	.story_shortzine .item_bottom .score::before {
		width: 1.1806vw;
		height: 1.25vw;
	}
	.story_trending {
		gap: 1.6667vw;
		margin-top: 11.5972vw;
	}
	.story_trending .tit h2 {
		font-size: 2.7778vw;
	}
	.story_trending .trending ul {
		gap: 1.4417vw 1.6667vw;
	}
	.story_trending .group a {
		padding: 0.5556vw 1.3889vw 0.625vw;
	}
	.story_trending .group .img {
		width: 5.4167vw;
		height: 5.4167vw;
		margin-right: 1.3889vw;
		background-size: 5.4167vw auto;
	}
	.story_trending .group_name {
		font-size: 1.6667vw;
	}
	.story_trending .member_num {
		font-size: 1.25vw;
	}
	.story_trending .swiper-pagination-bullet {
		height: 0.5556vw;
		width: 0.5556vw;
		margin: 0 0.4167vw !important;
	}
	.story_trending .gallery ul {
		gap: 1.7361vw 1.6667vw;
	}
	.story_trending .item {
		width: 31%;
		height: 50%;
	}
	.story_trending .item .img {
		width: 100%;
		height: 100%;
	}
	.story_all {
		margin: 14.1667vw auto 10vw;
	}
	.story_all .tab_nav a {
		font-size: 1.8056vw;
	}
	.story_all .tab_sort .btn_sort {
		font-size: 1.25vw;
	}
	.story_all .tab_sort .btn_sort::after {
		width: 0.9028vw;
		height: 0.625vw;
	}
	.story_all .tab_content {
		margin-top: 2.7778vw;
	}
	.story_all .con li .link > .img {
		width: 13.8889vw;
		height: 10.4861vw;
	}
	.story_all .con_top .tit {
		font-size: 1.3194vw;
	}
	.story_all .con_top .user {
		font-size: 0.9028vw;
	}
	.story_all .cont_bottom .img {
		width: 2.4306vw;
		height: 2.4306vw;
	}
	.story_all .cont_bottom .group_name {
		margin-right: 0.9722vw;
		font-size: 1.0417vw;
	}
	.story_all .cont_bottom .member_num {
		font-size: 0.7639vw;
	}
	.story_all .cont_bottom .icon_member {
		width: 1.1111vw;
		height: 0.9722vw;
	}
	.footer_inner {
		max-width: 100vw;
		padding: 3.4722vw 1.3889vw 3.8889vw;
	}
	.footer_top .logo .img_logo {
		width: 11.25vw;
		height: 1.3889vw;
	}
	.footer_top ul[class*='corp_'] li a {
		font-size: 0.9722vw;
	}
	.footer_util .option {
		width: 8.6111vw;
	}
	.footer_util .option span {
		font-size: 0.8333vw;
	}
	.footer_util .option span::after {
		top: 0.3472vw;
		right: -0.6944vw;
		width: 0.5556vw;
		height: 0.2778vw;
	}
	.footer_util .sns [class*='icon_'] {
		width: 1.1111vw;
		height: 1.1111vw;
	}
	.footer_bottom .info {
		width: 38.3333vw;
	}
	.footer_bottom .info li,
	.footer_bottom .desc {
		font-size: 0.8333vw;
	}
	.footer_bottom .info li::after {
		width: 0.0694vw;
		height: 0.6944vw;
		margin: 0 0.4167vw 0 0.6944vw;
	}
	.footer_bottom .mark a {
		width: 3.6806vw;
		height: 2.3611vw;
	}
}

@media screen and (max-width: 768px) {
	/* reset 공통 */
	*,*:before,*:after {
		font-size: 4.2667vw;
	}
	.icon_search {
		width: 3.7333vw;
		height: 3.7333vw;
		margin-bottom: 1.0667vw;
	}
	.icon_member {
		width: 4.5333vw;
		height: 4.8vw;
	}
	.btn_sm {
		height: auto;
		padding: 0;
		border: #fff;
		font-size: 3.2vw;
	}
	.mo_show {
		display: block;
	}
	.pc_show {
		display: none;
	}
	/* reset 공통 */
	.header_menus nav,
	.header_menus .utility {
		display: none;
	}
	.header_menus [class*='icon_'] {
		width: 5.3333vw;
		height: 5.3333vw;
	}
	.header_wrap {
		position: relative;
		height: 16vw;
	}
	.header_inner {
		max-width: 100%;
		padding: 0 5.3333vw;
	}
	.header_top {
		height: 16vw;
		gap: 1.6vw;
	}
	header .logo {
		width: 32.5333vw;
		height: 6.4vw;
	}
	.header_menus {
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		height: auto;
		margin: 0;
	}
	.progress {
		top: 15.85vw;
	}
	main {
		max-width: 100%;
		margin: 0 auto;
		padding-bottom: 8.5333vw;
	}
	section,
	section.story_community {
		width: 100%;
		margin: 0;
		padding: 0 0 0 5.3333vw;
	}
	.community_tit {
		display: block;
		width: calc(100% - 10.6667vw);
		padding: 10.6667vw 0;
		margin-right: 5.3333vw;
		border-bottom: 0.2667vw solid #000;
	}
	.community_tit h1 {
		font-size: 9.0667vw;
		line-height: 1;
	}
	.community_tit h1 strong {
		font-size: 12.8vw;
	}
	.community_tit p {
		margin-top: 2.1333vw;
		font-size: 4.2667vw;
	}
	.mo_preview {
		display: block;
		width: 100%;
		height: auto;
		margin-top: 0;
		background: none;
	}
	.mo_preview .calen {
		padding: 7.4667vw 4.2667vw 6.4vw;
		margin-right: 5.3333vw;
	}
	.mo_preview .calen_tit {
		font-size: 3.7333vw;
	}
	.mo_preview .calen ul {
		display: flex;
		justify-content: space-between;
		padding: 5.3333vw 0 6.4vw;
		border-bottom: 0.2667vw solid #d9d9d9;
	}
	.mo_preview .calen li {
		width: 7.4667vw;
		text-align: center;
	}
	.mo_preview .calen .week {
		display: block;
		padding-bottom: 2.1333vw;
		font-size: 3.2vw;
		font-weight: 200;
	}
	.mo_preview .calen .day {
		display: inline-block;
		vertical-align: middle;
		width: 7.4667vw;
		height: 7.4667vw;
		padding: 1.0667vw;
		font-weight: 600;
		color: #888;
	}
	.mo_preview .calen .today {
		border-radius: 13.3333vw;
		background-color: #000;
		color: #fff;
	}
	.mo_preview .tit {
		margin: 0 0 2.9333vw 4.2667vw;
		font-size: 6.4vw;
		font-weight: 900;
	}
	.mo_preview .swiper {
		width: calc(100% + 5.3333vw);
		height: auto;
		top: 0;
		left: -5.3333vw;
	}
	.mo_preview .swiper-wrapper {
		left: 9%;
	}
	.mo_preview .swiper-slide {
		flex-direction: column;
		justify-content: space-between;
		width: 80% !important;
		height: auto;
		margin-right: 4.2667vw;
	}
	.mo_preview .art_con {
		display: none;
		margin: 5.8667vw 0 4.2667vw;
	}
	.mo_preview .swiper-slide-active .art_con {
		display: block;
	}
	.mo_preview .art_tit {
		display: block;
		font-size: 4.8vw;
	}
	.mo_preview .art_days {
		display: block;
		margin-top: 2.1333vw;
		font-size: 3.2vw;
	}
	.mo_preview .paging {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 4vw;
		height: 5.3333vw;
		margin: 0 10% 0 70%;
		background-color: #fff;
		z-index: 4;
	}
	.mo_preview .swiper-pagination-fraction {
		top: auto;
		bottom: 0.5333vw;
		left: auto;
		right: 6.9333vw;
		width: auto;
	}
	.mo_preview .swiper-pagination-fraction {
		font-size: 3.2vw;
		color: #d9d9d9;
	}
	.mo_preview .swiper-pagination-fraction .swiper-pagination-current {
		font-size: inherit;
		color: #000;
	}
	.mo_preview .swiper-pagination-fraction .swiper-pagination-total {
		font-size: inherit;
		color: #888;
	}
	.mo_preview .swiper-button-next {
		top: auto;
		bottom: 0;
		left: auto;
		right: 0;
		width: 5.3333vw;
		height: 5.3333vw;
		background: url(../img/icon_swiper_btn.svg) no-repeat center / 1.8667vw auto;
		border-radius: 50%;
		border: 0.2667vw solid #d9d9d9;
	}
	.mo_preview .swiper-button-next:after {
		display: none;
	}
	.community_preview {
		position: relative;
		width: 100%;
		margin-top: 19.2vw;
		padding-right: 5.3333vw;
	}
	.community_preview .list {
		border: 0.2667vw solid #d9d9d9;
	}
	.community_preview .list_top {
		margin: 0;
		padding: 4.8vw 4.2667vw;
		border-bottom: 0.2667vw solid #d9d9d9;
	}
	.community_preview ul {
		padding: 1.6vw 4.2667vw 3.7333vw;
	}
	.community_preview .info {
		gap: 2.4vw;
		padding: 2.6667vw 11.2vw 2.6667vw 0;
		border: none;
	}
	.community_preview .list_top .img {
		width: 5.8667vw;
		height: 5.8667vw;
		margin-right: 1.8667vw;
	}
	.community_preview .list_top .id {
		font-size: 4.8vw;
	}
	.community_preview .info .img {
		width: 12.8vw;
		height: 12.8vw;
	}
	.community_preview .info .box {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.community_preview .info .tit {
		font-size: 4.2667vw;
	}
	.community_preview .info .txt {
		margin-top: 0.8vw;
		font-size: 3.2vw;
	}
	.community_preview li .date {
		top: 50%;
		transform: translateY(-50%);
		font-size: 3.2vw;
	}
	.story_shortzine {
		margin-top: 26.6667vw;
		padding-bottom: 22.4vw;
	}
	.story_shortzine .tit h2 {
		font-size: 4.2667vw;
	}
	.story_shortzine .tit h2 strong {
		display: block;
		margin-top: 0.5333vw;
		font-size: 6.4vw;
	}
	.story_shortzine .tit .btn_wrap {
		position: absolute;
		bottom: 0;
		width: calc(100% - 10.6667vw);
	}
	.story_shortzine .tit .btn_wrap .btn_sm {
		height: 10.6667vw;
		width: 100%;
		border: 0.2667vw solid #000;
		font-size: 3.7333vw;
		font-weight: 600;
	}
	.story_shortzine ul {
		gap: 0;
		margin: 4.8vw 0 0;
	}
	.story_shortzine .item_box .video {
		width: 100%;
		height: auto;
	}
	.story_shortzine .video_player .icon_play {
		height: 16.5333vw;
		width: 16vw;
	}
	.story_shortzine .swiper-slide {
		margin-right: 5.3333vw;
	}
	.story_shortzine .item {
		flex: none;
		width: 89%;
	}
	.story_shortzine .item .badge {
		top: 4.2667vw;
		left: 4.2667vw;
		height: 9.3333vw;
		padding: 2.1333vw 4vw;
		border-radius: 13.3333vw;
	}
	.story_shortzine .item .badge.hot::before {
		width: 5.8667vw;
		height: 5.8667vw;
		margin-right: 1.3333vw;
	}
	.story_shortzine .item_box .btn_wrap {
		height: 12.8vw;
		opacity: 1;
	}
	.story_shortzine .item_box .btn_wrap .link {
		padding: 3.7333vw 5.3333vw;
	}
	.story_shortzine .item_box .btn_wrap [class*='icon_'] {
		width: 5.3333vw;
		height: 5.3333vw;
	}
	.story_shortzine .item_box .btn_wrap .link + .link::before {
		width: 0.2667vw;
		height: 4.2667vw;
	}
	.story_shortzine .item_info {
		margin: 4.2667vw 0 2.6667vw;
	}
	.story_shortzine .item_info .tit {
		margin-bottom: 1.0667vw;
		font-size: 5.3333vw;
	}
	.story_shortzine .item_info .txt {
		-webkit-line-clamp: 3;
		font-size: 3.7333vw;
	}
	.story_shortzine .item_bottom .score {
		padding: 0 1.0667vw 0 5.3333vw;
		font-size: 4.2667vw;
	}
	.story_shortzine .item_bottom .score::before {
		width: 4.2667vw;
		height: 4.2667vw;
	}
	.story_shortzine .item_bottom .product,
	.story_shortzine .item_bottom .price {
		vertical-align: top;
		font-size: 3.2vw;
	}
	.story_shortzine > .btn_wrap {
		display: none;
	}
	.story_trending {
		flex-direction: column;
		gap: 26.6667vw;
		margin-top: 26.6667vw;
	}
	.story_trending > div {
		width: 100%;
	}
	.story_trending .tit h2 {
		display: block;
		font-size: 6.4vw;
		margin-bottom: 1.0667vw;
	}
	.story_trending .trending ul {
		gap: 2.6667vw 0;
	}
	.story_trending .gallery ul {
		gap: 5.3333vw;
	}
	.story_trending .group {
		width: 100%;
	}
	.story_trending .group a {
		padding: 2.6667vw 4.2667vw;
	}
	.story_trending .group .img {
		width: 17.0667vw;
		height: 17.0667vw;
		margin-right: 4.2667vw;
	}
	.story_trending .group_name {
		font-size: 5.3333vw;
	}
	.story_trending .group:nth-child(n + 5),
	.story_trending .item:nth-child(n + 5) {
		display: none;
	}
	.story_trending .member_num {
		gap: 1.0667vw;
		margin-top: 1.6vw;
		font-size: 3.2vw;
	}
	.story_trending .swiper {
		margin-top: 6.4vw;
		padding-bottom: 10.6667vw;
	}
	.story_trending .swiper-slide {
		width: 89% !important;
		margin-right: 5.3333vw;
	}
	.story_trending .swiper-pagination-bullet {
		height: 2.1333vw;
		width: 2.1333vw;
		margin: 0 1.6vw !important;
	}
	.story_trending .swiper-pagination {
		left: -2.9333vw !important;
		margin-top: 8vw;
	}
	.story_trending .item {
		width: 46.5%;
		/* height: 50%; */
	}
	/* .story_trending .item .img {
		width: 100%;
		height: 100%;
	} */

	.story_all {
		margin: 26.6667vw auto 17.0667vw;
	}
	.story_all .tab_top {
		border-bottom: none;
		overflow: scroll hidden;
		-ms-overflow-style: none; /* 인터넷 익스플로러 */
		scrollbar-width: none; /* 파이어폭스 */
	}
	.story_all .tab_top::-webkit-scrollbar {
		display: none;
	}
	.story_all .tab_nav {
		width: 186.6667vw;
		gap: 6.4vw;
	}
	.story_all .tab_nav a {
		white-space: nowrap;
		font-size: 5.3333vw;
	}
	.story_all .tab_nav .active a {
		padding-bottom: 1.6vw;
		border-bottom: 0.5333vw solid;
	}
	.story_all .tab_sort {
		display: none;
	}
	.story_all .tab_content {
		margin-top: 6.4vw;
	}
	.story_all .tab_content .con {
		display: none;
	}
	.story_all .tab_content .con.active {
		display: block;
	}
	.story_all .swiper-wrapper {
		gap: 0;
	}
	.story_all .swiper-slide {
		width: 89% !important;
		margin-right: 5.3333vw;
	}
	.story_all .con ul {
		display: flex;
		flex-direction: column;
		gap: 8.5333vw;
	}
	.story_all .con li {
		border-top: 0.2667vw solid #d9d9d9;
	}
	.story_all .con li .link {
		position: relative;
		padding-top: 16vw;
		flex-direction: column;
		align-items: flex-start;
		gap: 4.2667vw;
	}
	.story_all .con li .link > .img {
		width: 100%;
		height: auto;
	}
	.story_all .con_top {
		padding: 0;
		border-bottom: none;
	}
	.story_all .con_top .tit {
		font-size: 4.8vw;
	}
	.story_all .con_top .user {
		margin-top: 2.9333vw;
		font-size: 3.2vw;
	}
	.story_all .cont_bottom {
		gap: 0 2.6667vw;
		position: absolute;
		top: 4.2667vw;
		margin: 0;
	}
	.story_all .cont_bottom .img {
		width: 9.3333vw;
		height: 9.3333vw;
	}
	.story_all .cont_bottom .group_name {
		margin-right: 2.6667vw;
		font-size: 4.2667vw;
	}
	.story_all .cont_bottom .member_num {
		font-size: 3.2vw;
	}
	.story_all .cont_bottom .icon_member {
		width: 4.2667vw;
		height: 4.2667vw;
		margin: 0 0.5333vw 0.5333vw 0;
	}
	.float_wrap {
		width: 10.6667vw;
		bottom: 26.6667vw;
		margin: 0 5.3333vw 0 auto;
	}
	.float_btn {
		width: 10.6667vw;
		height: 10.6667vw;
		background-size: 3.4667vw auto;
	}
	.footer_inner {
		max-width: 100%;
		padding: 6.4vw 5.3333vw;
	}
	.footer_top > div {
		display: block;
		margin: 0;
	}
	.footer_top .logo .img_logo {
		width: 32vw;
		height: 4vw;
	}
	.footer_top ul[class*='corp_'] {
		display: flex;
		align-items: center;
		gap: 0;
		margin-top: 5.3333vw;
	}
	.footer_top ul[class*='corp_'] li a {
		font-size: 3.2vw;
	}
	.footer_top ul[class*='corp_'] li + li::before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 0.2667vw;
		height: 3.7333vw;
		margin: 0 5.3333vw;
		background-color: #8a8a8aa8;
	}
	.footer_top ul[class*='corp_'] + ul[class*='corp_'],
	.footer_util,
	.footer_bottom .info li::after,
	.footer_bottom .mark {
		display: none;
	}
	.footer_bottom {
		margin-top: 5.3333vw;
		padding-top: 5.3333vw;
	}
	.footer_bottom .info {
		width: 100%;
	}
	.footer_bottom .info li,
	.footer_bottom .desc {
		display: block;
		font-size: 2.6667vw;
		line-height: 1.8;
	}
	.footer_bottom .desc {
		margin-top: 2.1333vw;
	}
}
